# Local MySQL (Laragon)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=grammar_police
MYSQL_SSL=false

# Aiven MySQL (uncomment + fill)
# MYSQL_HOST=grammarpolice-db-PROJECT.h.aivencloud.com
# MYSQL_PORT=12792
# MYSQL_USER=avnadmin
# MYSQL_PASSWORD=your_password
# MYSQL_DATABASE=defaultdb
# MYSQL_SSL=true
# MYSQL_CA=base64_of_ca.pem
